
    @model IEnumerable<JsonDemo.Models.Course>

    @{
        ViewBag.Title = "Liste des cours";
    }

    @foreach (var item in Model)
    {
        <div class="CourseListLayout ellipsis">
            <a href="@Url.Action("Details", new {id = item.Id})">
                <span style="color:blue">@item.Code</span> 
                @item.Title 
            </a>
        </div>
    }



